/* AFFECT ALL PAGES */

html {
    background-color: #FFFFFF; /* White */
}

/* Remove margins on all the page. */
* {
    margin: 0px;
    padding: 0px;
}

/* List of custom fonts. */
@font-face {
    font-family: "WebFont";
    src: url("fonts/fontawesome-webfont.woff") format("truetype");
}
@font-face {
    font-family: "BlackFont40";
    src: url("fonts/nitti-black-v40.woff") format("truetype");
}
@font-face {
    font-family: "MediumFont40";
    src: url("fonts/nitti-medium-v40.woff") format("truetype");
}
@font-face {
    font-family: "NormalFont40";
    src: url("fonts/nitti-normal-v40.woff") format("truetype");
}
@font-face {
    font-family: "BlackFont20";
    src: url("fonts/nittigrotesk-black-v20.woff") format("truetype");
}
@font-face {
    font-family: "BoldFont20";
    src: url("fonts/nittigrotesk-bold-v20.woff") format("truetype");
}
@font-face {
    font-family: "NormalFont20";
    src: url("fonts/nittigrotesk-normal-v20.woff") format("truetype");
}
@font-face {
    font-family: "SemilightFont";
    src: url("fonts/nittigrotesk-semilight-v20.woff") format("truetype");
}

/* Add a light-blue in the navigation bar background. */
ul.navigation {
    list-style-type: none; /* No bullets or numbers in the list. */
    width: 100%;
    overflow: hidden;
    background-color: #DEEDF3; /* Light-blue */
}

/* Float the list items side by side to the right. */
ul.navigation li {
    float: right;
}

/* Style the links inside the list items. */
ul.navigation li a {
    display: inline-block;
    color: #08507C; /* Dark Blue */
    text-align: center;
    padding: 12px 24px;
    text-decoration: none;
    transition: 0.3s;
    font-family: "SemilightFont"; /* This is a custom font. */
    font-size: 18px;
    border-bottom-style: solid;
    border-bottom-color: #E5E6E3; /* Bone white in all the bottom. */
    border-bottom-width: 1px;
}

/* Change background color (light-blue to white) and text color (dark blue to orange) on hover. */
ul.navigation li a:hover {
    background-color: #FFFFFF; /* White */
    color: #F68833; /* Orange */
    border-bottom-style: solid;
    border-bottom-color: #FEC150; /* Bottom line change from bone white to yellow. */
    border-bottom-width: 1px;
}

h1 {
	text-align: center;
	font-size: 50px;
	font-family: "NormalFont40"; 
    color: #FEC150; /* Yellow */
}

h2 {
	text-align: center;
	font-size: 35px;
	font-family: "NormalFont40"; 
    color: #F68833; /* Orange */
}

h3 {
	text-align: center;
	font-size: 30px;
	font-family: "WebFont"; 
    color: #08507C; /* Dark Blue */
}

h4 {
    text-align: center;
    font-size: 20px;
    font-family: "SemilightFont"; 
    color: #0F9CDA; /* Baby Blue */
}

h5 {
    text-align: left;
    font-size: 22px;
    font-family: "SemilightFont"; 
    color: #F68833; /* Orange */
    padding: 0px 0px 0px 20px; /* Padding the left. */
}

h6 {
    text-align: center;
    font-size: 30px;
    font-family: "NormalFont40"; 
    color: #FEC150; /* Yellow */
}

h3.left {
    text-align: left;
    padding: 0px 0px 0px 20px;
}

p {
    display: block;
    padding: 20px 20px 20px 20px; /* Padding all the paragraph. */
    font-size: 20px;
    font-family: "NormalFont20";
}

p.resume1 {
    padding: 5px 0px 0px 50px;
    font-size: 24px;
    font-family: "NormalFont20";
    font-weight: bold;
    color: #434343; /* Brown */
}

p.resume2 {
    padding: 5px 0px 0px 50px;
    font-size: 20px;
    font-family: "NormalFont20";
    font-weight: bold;
    color: #434343; /* Brown */
}

p.resume3 {
    padding: 5px 0px 0px 50px;
    font-size: 20px;
    font-family: "NormalFont20";
    color: #434343; /* Brown */
}

/* Color for all hyperlinks. */

/* Unvisited link. */
a:link {
    font-size: 20px;
    font-family: "NormalFont20";
    color: #0F9CDA; /* Baby Blue */
    text-decoration: none; /* No underline */
}

/* Visited link. */
a:visited {
    color: #0F9CDA; /* Baby Blue */
    text-decoration: none;
}

/* Mouse over link. */
a:hover {
    color: #F68833; /* Orange */
    text-decoration: none;
}

ul.links {
    list-style-type: none; 
    padding: 0px 0px 0px 20px; /* Padding the left side. */
}

ul.list {
    display: block;
    list-style-type: disc;
    padding: 5px 0px 0px 100px;
    font-size: 20px;
    font-family: "NormalFont20";
    color: #434343; /* Brown */
}

#header {
    float: center;
    padding: 20px 0px 20px 0px; /* Padding the top. */
    background-color: #08507c; /* Very Dark Blue */
    text-align: center;
    color: #E5E6E3; /* Bone White */
}

/* INDEX */

iframe.youtube {
    float: left;
    margin: 0px 20px 0px 0px;
    width: 750px;
    height: 420px;
}

#main {
    float: center;
    min-height: 420px; /* Same of the YouTube video. */
    padding: 20px 20px 20px 20px;
    background-color: #E5E6E3; /* Bone White */
    text-align: justify;
    color: #434343; /* Brown */
}

#sources {
    clear: both;
    float: center;
    padding: 20px 0px 0px 0px; /* Just padding the top. */
    background-color: #FFFFFF; /* White */
}

/* About HTML */
#left {
    clear: both;
    float: left;
    padding: 20px 0px 20px 0px;
    width: 33.333%;
    text-align: justify;
    color: #434343; /* Brown */
}

/* About CSS */
#center {
    float: left;
    padding: 20px 0px 20px 0px;
    width: 33.333%;
    text-align: justify;
    color: #434343; /* Brown */
}

/* About JavaScript */
#right {
    float: left;
    padding: 20px 0px 20px 0px;
    width: 33.333%;
    text-align: justify;
    color: #434343; /* Brown */
}

/* About GitHub and Git */

#belowleft {
    clear: both;
    float: left;
    padding: 20px 0px 20px 0px;
    width: 14%;
    height: 190px;
    background-color: #DEEDF3; /* Light Blue */
    text-align: center;

}

img.github {
    padding: 20px 0px 20px 20px;
    width: 120px;
    height: 120px;
}

img.github:hover {
    transition: 0.7s;
    width: 140px;
    height: 140px;
}

#belowcenter {
    float: left;
    padding: 20px 0px 20px 0px;
    width: 74%;
    height: 190px;
    background-color: #DEEDF3; /* Light Blue */
    text-align: justify;
    color: #434343; /* Brown */
}

#belowright {
    float: left;
    padding: 20px 0px 20px 0px;
    width: 12%;
    height: 190px;
    background-color: #DEEDF3; /* Light Blue */
    text-align: center;
}

img.git {
    margin: 20px 20px 20px 0px;
    width: 120px;
    height: 150px;
    border-style: solid;
    border-width: 2px;
    border-color: #FEC150; /* Yellow */
}

img.git:hover {
    border-color: #F68833; /* Orange */
}

/* ABOUT */

#mission {
    float: center;
    padding: 100px 150px 0px 150px;
    text-align: center;
    color: #434343; /* Brown */
}

#vision {
    float: center;
    padding: 20px 150px 100px 150px;
    text-align: center;
    color: #434343; /* Brown */
}


#anchor {
    clear: both;
    float: left;
    padding: 100px 0px 50px 0px;
    width: 20%;
    height: 900px;
    text-align: left;
    background-color: #08507C; /* Dark Blue */
 }

ul.anchorstyle {
    list-style-type: none; /* No bullets or numbers in the list. */
    background-color: #08507C; /* Dark Blue */
}

/* Style the links inside the list items. */
ul.anchorstyle li a {
    padding: 0px 0px 0px 20px;
    display: inline-block;
    color: #FFFFFF; /* White */
    text-align: left;
    text-decoration: none;
    transition: 0.3s;
    font-family: "SemilightFont"; /* This is a custom font. */
    font-size: 25px;
    border-left-style: solid;
    border-left-color: #08507C; /* Dark Blue */
    border-left-width: 3px;
}

ul.anchorstyle li a:hover {
    color: #FEC150; /* Yellow */
    background-color: #0F9CDA; /* Baby Blue */
    border-left-style: solid;
    border-left-color: #FEC150; /* Yellow */
    border-left-width: 3px;
}

#aboutme {
    float: left;
    padding: 100px 0px 50px 0px;
    width: 80%;
    height: 900px;
    text-align: left;
    background-color: #E5E6E3; /* Bone White */
    color: #434343; /* Brown */
 }

