/* Remove margins on all the page. */
* {
    margin: 0px;
    padding: 0px;
}

/* List of custom fonts. */
@font-face {
    font-family: "WebFont";
    src: url("fonts/fontawesome-webfont.woff") format("truetype");
}
@font-face {
    font-family: "BlackFont40";
    src: url("fonts/nitti-black-v40.woff") format("truetype");
}
@font-face {
    font-family: "MediumFont40";
    src: url("fonts/nitti-medium-v40.woff") format("truetype");
}
@font-face {
    font-family: "NormalFont40";
    src: url("fonts/nitti-normal-v40.woff") format("truetype");
}
@font-face {
    font-family: "BlackFont20";
    src: url("fonts/nittigrotesk-black-v20.woff") format("truetype");
}
@font-face {
    font-family: "BoldFont20";
    src: url("fonts/nittigrotesk-bold-v20.woff") format("truetype");
}
@font-face {
    font-family: "NormalFont20";
    src: url("fonts/nittigrotesk-normal-v20.woff") format("truetype");
}
@font-face {
    font-family: "SemilightFont";
    src: url("fonts/nittigrotesk-semilight-v20.woff") format("truetype");
}

/* Add a light-blue in the navigation bar background. */
ul.topnav {
    list-style-type: none;
    width: 100%;
    overflow: hidden;
    background-color: #DEEDF3; /* Light-blue */
}

/* Float the list items side by side to the right. */
ul.topnav li {
    float: right;
}

/* Style the links inside the list items. */
ul.topnav li a {
    display: inline-block;
    color: #08507C; /* Dark Blue */
    text-align: center;
    padding: 12px 24px;
    text-decoration: none;
    transition: 0.3s;
    font-family: "SemilightFont"; /* This is a custom font. */
    font-size: 18px;
    border-bottom-style: solid;
    border-bottom-color: #E5E6E3; /* Bone white in all the bottom. */
    border-bottom-width: 1px;
}

/* Change background color (light-blue to white) and text color (dark blue to orange) on hover. */
ul.topnav li a:hover {
    background-color: #FFFFFF; /* White */
    color: #F68833; /* Orange */
    border-bottom-style: solid;
    border-bottom-color: #F68833; /* Bottom line change from bone white to orange. */
    border-bottom-width: 1px;
}

h1 {
	padding: 20px 0px 0px 0px; /* Just padding the top. */
	text-align: center;
	font-size: 70px;
	font-family: "BoldFont20"; 
}

h2 {
	padding: 20px 0px 0px 0px; /* Just padding the top. */
	text-align: center;
	font-size: 40px;
	font-family: "NormalFont40"; 
}

h3 {
	padding: 20px 0px 0px 0px;
	text-align: center;
	font-size: 30px;
	font-family: "WebFont"; 
}

h4 {
	padding: 0px 0px 0px 0px;
	text-align: center;
	font-size: 20px;
	font-family: "SemilightFont"; 
}

p {
    display: block;
    padding: 20px 20px 20px 20px; /* Padding all the paragraph. */
    text-align: center;
    font-size: 20px;
    font-family: "NormalFont20";
}

/*Color for headings and paragraphs.*/

.lightblue {
	color: #DEEDF3;
}

.babyblue {
	color: #0F9CDA;
}

.blue {
	color: #0377C0;
}

.darkblue {
	color: #08507c;
}

.verydarkblue {
	color: #01263D;
}

.bonewhite {
	color: #E5E6E3;
}

.white {
	color: #FFFFFF;
}

.yellow {
	color: #FEC150;
}

.orange {
	color: #F68833;
}

.brown {
	color: #434343;
}

.black {
	color: #000000;
}

/* Color for all hyperlinks. */

/* Unvisited link. */
a:link {
    color: #08507c; /* Dark Blue */
    text-decoration: none; /* No underline */
}

/* Visited link. */
a:visited {
    color: #0F9CDA; /* Baby Blue */
    text-decoration: none;
}

/* Mouse over link. */
a:hover {
    color: #F68833; /* Orange */
    text-decoration: none;
}

#header {
    float: center;
    background-color: #08507c; /* Very Dark Blue */
}

#video {
    clear: both;
    float: left;
    width: 66.666%;
    height: 500px;
    overflow: hidden; /* Because height is 500px, specify overflow is necessary. */
    background-color: #E5E6E3; /* Bone White */
    text-align: center; /* Align horizonal the video. */
}

iframe {
    border-style: solid;
    border-width: 20px;
    border-color: #E5E6E3; /* Bone White */
}

#main {
	float: left;
    width: 33.333%;
    height: 500px; /* Align with YouTube video. */
    overflow: hidden;
    background-color: #E5E6E3; /* Bone White */
}

#sources {
    clear: both;
    float: center;
    background-color: #FFFFFF; /* White */
}

/* About HTML */
#left {
    clear: both;
    float: left;
    width: 33.333%;
    height: 800px;
    overflow: hidden; /* Because height is 800px, overflow is necessary. */
    background-color: #FFFFFF; /* White */
}

/* About CSS */
#center {
    float: left;
    width: 33.333%;
    height: 800px;
    overflow: hidden;
    background-color: #FFFFFF; /* White */
}

/* About JavaScript */
#right {
    float: left;
    width: 33.333%;
    height: 800px;
    overflow: hidden;
    background-color: #FFFFFF; /* White */
}

/* About Git */
#below {
    clear: both;
    float: center;
    background-color: #DEEDF3; /* Light Blue */
}

#footer {
    clear: both;
    float: center;
    background-color: #08507c; /* Dark blue */
}
