/* List of custom fonts. */
@font-face {
    font-family: "WebFont";
    src: url("fonts/fontawesome-webfont.woff") format("truetype");
}
@font-face {
    font-family: "BlackFont40";
    src: url("fonts/nitti-black-v40.woff") format("truetype");
}
@font-face {
    font-family: "MediumFont40";
    src: url("fonts/nitti-medium-v40.woff") format("truetype");
}
@font-face {
    font-family: "NormalFont40";
    src: url("fonts/nitti-normal-v40.woff") format("truetype");
}
@font-face {
    font-family: "BlackFont20";
    src: url("fonts/nittigrotesk-black-v20.woff") format("truetype");
}
@font-face {
    font-family: "BoldFont20";
    src: url("fonts/nittigrotesk-bold-v20.woff") format("truetype");
}
@font-face {
    font-family: "NormalFont20";
    src: url("fonts/nittigrotesk-normal-v20.woff") format("truetype");
}
@font-face {
    font-family: "SemilightFont";
    src: url("fonts/nittigrotesk-semilight-v20.woff") format("truetype");
}

#topnavigation {  
}

/* Remove margins and padding from the list, and add a light-blue background color. */
ul.topnav {
    list-style-type: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
    float: left;
    overflow: hidden;
    background-color: #deedf3; /* Light-blue */
}

/* Float the list items side by side. */
ul.topnav li {
    float: right;
}

/* Style the links inside the list items. */
ul.topnav li a {
    display: inline-block;
    color: #08507c; /* Blue */
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    transition: 0.5s;
    font-family: "SemilightFont";
    font-size: 20px;
}

/* Change background color (light-blue to white) and text color (blue to orange) of links on hover. */
ul.topnav li a:hover {
    background-color: #FFFFFF; /* White */
    color: #f68833; /* Orange */
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {
    display: none;
}

#header {
    background-color: ;
}

#body {
    background-color: ;
}
