/* Remove margins of all the page. */
* {
    margin: 0px;
    padding: 0px;
}

/* List of custom fonts. */
@font-face {
    font-family: "WebFont";
    src: url("fonts/fontawesome-webfont.woff") format("truetype");
}
@font-face {
    font-family: "BlackFont40";
    src: url("fonts/nitti-black-v40.woff") format("truetype");
}
@font-face {
    font-family: "MediumFont40";
    src: url("fonts/nitti-medium-v40.woff") format("truetype");
}
@font-face {
    font-family: "NormalFont40";
    src: url("fonts/nitti-normal-v40.woff") format("truetype");
}
@font-face {
    font-family: "BlackFont20";
    src: url("fonts/nittigrotesk-black-v20.woff") format("truetype");
}
@font-face {
    font-family: "BoldFont20";
    src: url("fonts/nittigrotesk-bold-v20.woff") format("truetype");
}
@font-face {
    font-family: "NormalFont20";
    src: url("fonts/nittigrotesk-normal-v20.woff") format("truetype");
}
@font-face {
    font-family: "SemilightFont";
    src: url("fonts/nittigrotesk-semilight-v20.woff") format("truetype");
}

/* Add a light-blue background color. */
ul.topnav {
    list-style-type: none;
    width: 100%;
    float: left;
    overflow: hidden;
    background-color: #deedf3; /* Light-blue */
}

/* Float the list items side by side. */
ul.topnav li {
    float: right;
}

/* Style the links inside the list items. */
ul.topnav li a {
    display: inline-block;
    color: #08507c; /* Blue */
    text-align: center;
    padding: 12px 24px;
    text-decoration: none;
    transition: 0.3s;
    font-family: "SemilightFont";
    font-size: 18px;
    border-bottom-style: solid;
    border-bottom-color: #E5E6E3; /* Bone white */
    border-bottom-width: 1px;
}

/* Change background color (light-blue to white) and text color (blue to orange) of links on hover. */
ul.topnav li a:hover {
    background-color: #FFFFFF; /* White */
    color: #f68833; /* Orange */
    border-bottom-style: solid;
    border-bottom-color: #f68833; /* An orange line in the bottom */
    border-bottom-width: 1px;
}

h1, h2 {
    text-align: center;
}

#header {
    text-align: center;
    background-color: #08507c;
}

#left {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 33.333%;
    background-color: #E5E6E3; /* White bone */
}

#main {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 33.333%;
    background-color: #0377C0; /* Blue */
}

#right {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 33.333%;
    background-color: #E5E6E3; /* White bone */
}

#below {
    clear: both;
}

#footer {
    clear: both;
    background-color: #E5E6E3; /* White bone */
    text-align: center;
}
